.header {
    display: flex;
    align-content: center;
    height: 10vh;
    justify-content: space-between;
    padding: 0 11%;
}

.header__left {
    display: flex;
    margin: auto 2rem auto 0;
    padding: 1rem 1rem 1rem 0;
    width: 80%;
}
.header__logo {
    height: 2rem;
    display: flex;
    align-self: center;
}
.header__logo___icono {
    height: 1.8rem;
}
.header__logo___alura {
    height: 18.5px;
    align-self: center;
}
.header__logo___geek {
    height: 18.5px;
    align-self: center;
}

.header__buscador {
    display: flex;
    align-items: center;
    margin-left: 8%;
    height: 2rem;
    background-color: var(--background-buscador);
    align-self: center;
    border-radius: 16px;
    width: 80%;
    justify-content: space-between;
}

.header__buscador___input {
    width: 80%;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: transparent;
    padding: 2%;
    border-width: 0;
    margin-left: .5rem;

}
.header__buscador___input::placeholder {
    color: var(--fuente-placeholder);
}

.header__buscador___input:focus {
    outline: none;
}


.header__buscador___imagen {
    height: 70%;
    margin: auto 2%;
    background-color: transparent;
    padding: 1%;
}

.header__boton, .admin__boton {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid var(--azul-100);
    color: var(--azul-100);
    height: 3rem;
    align-self: center;
    margin: auto 0;
    background-color:transparent;
    line-height: 1rem;
}

.header__boton {
    width: 18%;
}

.admin__boton {
    width: 27%;
}

.boton-admin{
    text-decoration: none;
    color: var(--azul-100);
    margin: .3rem;
}


.login {
    text-decoration: none;
    color: var(--azul-100);
    margin: 1rem;
}

.lupita__celular {
    display: none;
}

.header__logo___icono__agregar-producto {
    height: 1.8rem;
}
.header__logo___alura__agregar-producto {
    height: 18.5px;
    align-self: center;
}
.header__logo___geek__agregar-producto {
    height: 18.5px;
    align-self: center;
}

/*Tablet*/
@media (max-width: 992px) {
    .header__logo___icono__agregar-producto {
        height: 1rem;
        align-self: center;
    }
    .header__logo___alura__agregar-producto {
        height: 10.5px;
        align-self: center;
    }
    .header__logo___geek__agregar-producto {
        height: 10.5px;
        align-self: center;
    }
    .header__boton {
        font-size: .7rem;
        padding: .7rem;
        height: 2.1rem;
        line-height: .7rem;
    }
    .admin__boton {
        width: 39%;
        font-size: 0.7rem;
    }
}

/*Celular*/
@media (max-width: 600px) {
    .header__left {
        width: auto;
        margin-right: 0;
        padding-right: 0;
    }
    .header__buscador {
        display: none;
    }
    .lupita__celular {
        display: block;
        height: 1.2rem;
        align-self: center;
    }
    .header__logo___icono__agregar-producto {
        height: 1rem;
        align-self: center;
    }
    .header__logo___alura__agregar-producto {
        height: 10.5px;
        align-self: center;
    }
    .header__logo___geek__agregar-producto {
        height: 10.5px;
        align-self: center;
    }
    .header__boton {
        width: 25%;
    }
    .admin__boton {
        width: 39%;
        font-size: 0.7rem;
        min-width: 115px;
        padding: 0.9rem 0.25rem;
    }
}