.catalogos {
    padding-bottom: 3rem;
    background-color: var(--fondo-categorias);
}

.catalogo__div {
    display: flex;
    justify-content: space-between;
    padding: 3rem 11% 0;
}

.catalogo__titulo {
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--titulos-categorias);
    align-self: center;
}

.catalogo__agregar-producto {
    background-color: var(--azul-100);
    color: var(--blanco);
    padding: 1rem;
    margin: 1rem 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* Cards */

.catalogo__cards {
    display: flex;
    justify-content: space-between;
    margin: 0 11%;
    flex-wrap: wrap;
}

.catalogo__box___todos {
    display: flex;
    flex-direction: column;
    
}

.catalogo__imagen {
    width: 12vw;
    height: 12vw;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 12vw;
    position: relative;
    top: 8px;
    right: 12px;
    width: 48px;
    justify-content: space-between;
    height: 0;
}

.catalogo__item-editar , .catalogo__item-eliminar{
    width: 18px;
    height: 18px;
    /* margin-left: 11px;
    position: relative ;
    top: -10vw;
    left: 10vw; */
}

.nombre__producto {
    font-weight: 500;
    font-size: .74rem;
    margin: 0.5rem 0;
    color: var(--titulos-categorias);
}

.precio__producto {
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    color: var(--titulos-categorias);
}

.unidades__producto {
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 1.5rem;;
}    


/*Tablet*/
@media (max-width: 992px) {
    .catalogo__box:nth-child(5) , .catalogo__box:nth-child(6){
        display: none;
    }
    .catalogo__imagen {
        width: 18vw;
        height: 18vw;
        margin-top: 1rem;
    }
    .nombre__producto {
        font-size: .6rem;
    }
    .catalogo__separador {
        display: none;
    }
    .catalogo__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .catalogo__titulo {
        font-size: 1.4rem;
    }
}

/*Celular*/
@media (max-width: 600px) {
    .catalogos , .productos-similares {
        padding-bottom: 1rem;
    }
    .catalogo__div {
        padding-top: 1rem;
        flex-wrap: wrap;
    }
    .catalogo__agregar-producto {
        margin: 0;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
    }
    .catalogo__imagen {
        width: 36vw;
        height: 32vw;
    }
    .catalogo__titulo {
        font-size: 1.4rem;
    }
    .link__producto {
        margin-bottom: 1.5rem;
    }
    .catalogo__separador {
        height: 1rem;
        width: 100%;
    }
    .catalogo__box___todos:nth-child(21) , .catalogo__box___todos:nth-child(22) {
        display: none;
    }
    .catalogo__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}