.catalogos {
    padding-bottom: 3rem;
    background-color: var(--fondo-categorias);
}

.catalogo__div {
    display: flex;
    justify-content: space-between;
    padding: 3rem 11% 0;
    margin-right: 1vw
}

.catalogo__titulo {
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--titulos-categorias);
    align-self: center;
}

.catalogo__agregar-producto {
    background-color: var(--azul-100);
    color: var(--blanco);
    padding: 1rem;
    margin: 1rem 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* Cards */

.catalogo__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 11%;
}

.catalogo__box___todos {
    display: flex;
    flex-direction: column;
    
}

.catalogo__imagen {
    width: 12vw;
    height: 12vw;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 12vw;
    position: relative;
    top: 8px;
    right: 25px;
    width: 48px;
    justify-content: space-between;
    height: 0;
}

.catalogo__item-editar , .catalogo__item-eliminar{
    width: 18px;
    height: 18px;
}

.nombre__producto {
    font-weight: 500;
    font-size: .74rem;
    margin: 0.5rem 0;
    color: var(--titulos-categorias);
}

.precio__producto {
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    color: var(--titulos-categorias);
}

.unidades__producto {
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 1.5rem;;
}    


/*Tablet*/
@media (max-width: 992px) {
    .catalogo__div {
        margin-right:1.5vw;
    }
    .catalogo__imagen {
        width: 18vw;
        height: 18vw;
        margin-top: 1rem;
    }
    .nombre__producto {
        font-size: .6rem;
    }
    .catalogo__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .iconos {
        top: 23px;
        right: 18px;
    }
    .catalogo__titulo {
        font-size: 1.4rem;
    }
}

/*Celular*/
@media (max-width: 600px) {
    .catalogos , .productos-similares {
        padding-bottom: 1rem;
    }
    .catalogo__div {
        padding-top: 1rem;
        flex-wrap: wrap;
        margin-right: 3vw;
    }
    .catalogo__agregar-producto {
        margin: 0;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        line-height: 1.1rem;
    }
    .iconos {
        top: 23px;
        right: 23px;
    }
    .catalogo__imagen {
        width: 36vw;
        height: 32vw;
    }
    .catalogo__titulo {
        font-size: 1.4rem;
    }
    .link__producto {
        margin-bottom: 1.5rem;
    }
    .catalogo__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}