.banner {
    background: url(../../img/banner.png) center / cover no-repeat;
    height: 40vh;
    padding: 11% 11% 0;
}

.banner__titulo {
    color: var(--blanco);
    font-size: 3.25rem;
    font-weight: 700;
    padding-top: 10vh;
}

.banner__descripcion {
    color: var(--blanco);
    font-size: 1.375rem;
    font-weight: 700;
    margin: 1rem 0;
    line-height: 26px;
}

.banner__boton {
    background-color: var(--azul-100); 
    padding: 1rem;
    border: none;
}

.consolas {
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: var(--blanco);
}



/*Tablet*/
@media (max-width: 992px) {
    .banner__titulo {
        font-size: 2.25rem;
    }
    .banner__descripcion {
        font-size: 1rem;
        margin: .7rem 0;
        line-height: 1.25rem;
    }
}

/*Celular*/
@media (max-width: 600px) {
    .banner__titulo {
        font-size: 1.25rem;
        padding-top: 17vh;
    }
    .banner__descripcion {
        font-size: 0.7rem;
        margin: .5rem 0;
        line-height: 1rem;
    }
    .banner__boton {
        padding: .7rem;
    }
    .consolas {
        font-size: .7rem;
    }
}